DataWriterTestDriver/Service References/DataWriterSoapSvc_XML/DataWriter.SoapServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataWriter.SoapServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataWriter.SoapServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="XmlData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="TimeSent" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XmlData" nillable="true" type="tns:XmlData" />
</xs:schema>