DataWriterTestDriver/Service References/DataWriterSoapSvc_XML/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataWriterXMLSoapSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataWriter.SoapServices" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataWriterXMLSoapSvc_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDataWriterXMLSoapSvc_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IDataWriterXMLSoapSvc_WriteData_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteData" />
  </wsdl:message>
  <wsdl:message name="IDataWriterXMLSoapSvc_WriteData_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataWriterXMLSoapSvc">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataWriterSoapSvcOf_XmlData/Ping" message="tns:IDataWriterXMLSoapSvc_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataWriterSoapSvcOf_XmlData/PingResponse" message="tns:IDataWriterXMLSoapSvc_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataWriterSoapSvcOf_XmlData/WriteData" message="tns:IDataWriterXMLSoapSvc_WriteData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataWriterSoapSvcOf_XmlData/WriteDataResponse" message="tns:IDataWriterXMLSoapSvc_WriteData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataWriterXMLSoapSvc" type="tns:IDataWriterXMLSoapSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IDataWriterSoapSvcOf_XmlData/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteData">
      <soap:operation soapAction="http://tempuri.org/IDataWriterSoapSvcOf_XmlData/WriteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataWriterXMLSoapSvc">
    <wsdl:port name="BasicHttpBinding_IDataWriterXMLSoapSvc" binding="tns:BasicHttpBinding_IDataWriterXMLSoapSvc">
      <soap:address location="http://localhost:8733/DWS/XML/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>