DataWriterTestDriver/Service References/DataWriterSoapSvc_JSON/JSON1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataWriter.SoapServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataWriter.SoapServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JSONData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSent" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JSONData" nillable="true" type="tns:JSONData" />
</xs:schema>